LOG_LEVEL=info
NODE_ENV=production
NEW_RELIC_ENABLED=false

AUTH_SERVER_URL=http://notes-auth:3000
EXTENSIONS_SERVER_URL=http://notes-extensions:3000
REDIS_URL=redis://redis

AUTH_JWT_SECRET=auth_jwt_secret
REDIS_EVENTS_CHANNEL=sync-events

EMAIL_ATTACHMENT_MAX_BYTE_SIZE=10485760
REVISIONS_FREQUENCY=300

DB_HOST=mariadb
DB_REPLICA_HOST=mariadb
DB_PORT=3306
DB_DATABASE=notes
DB_USERNAME=notes
DB_PASSWORD=notes
DB_DEBUG_LEVEL=error  # "all" | "query" | "schema" | "error" | "warn" | "info" | "log" | "migration"
DB_MIGRATIONS_PATH=dist/migrations/*.js
